{% extends "index.html" %}
{% block content %}

<div class="container mt-5">
  <h2>Checkout</h2>
  <p>Please confirm your order and provide shipping details.</p>

  <!-- Cart Items -->
  <h4>Your Cart</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>₹{{ item.product.final_price }}</td>
        <!-- <td>₹{{ item.product.price|floatformat:2|add:""|add:item.quantity }}</td> -->
         <td>₹{{ item.total_price|floatformat:2 }}</td>
         
      </tr>
      {% empty %}
      <tr><td colspan="4">Your cart is empty.</td></tr>
      {% endfor %}
      
     <tr>
  <td colspan="4" class="text-end"><strong>TOTAL: ₹{{ total_amount }}</strong></td>
</tr>

    </tbody>
  </table>

  <!-- Checkout Form -->
   <h2>Add Your Details</h2>
  <form method="POST" class="mt-4">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-dark" style="width: 300px;">Place Order</button>
    <a href="{% url 'user:view_cart' %}" class="btn btn-secondary" style="width: 300px;">Back to Cart</a>
  </form>
</div><br><br>

{% endblock %}
